:root {
  --branco-principal: #fff;
  --cinza-secundario: #c0c0c06e;
  --botao-azul: #167bf7;
  --cor-fundo: #00030c;
  --cor-hover-azul: #2785f8c5;
  --cor-titulo: #CF293E;

  --fonte-principal: "Inter", sans-serif;
}